
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: #556B2F;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background: #FF8C00;
  }
}
